@import url('../fonts/fonts.css');
@import "tailwindcss";

@theme {
  --color-primary: #447f28;
  --color-primary-dark: #015301;
  --font-sans: 'Barlow', ui-sans-serif, system-ui, sans-serif;
  --background-image-primary-gradient: linear-gradient(118deg, #447f28 32.46%, #015301 91.42%);
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #1f2937;
  }
}
